@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 100px auto 50px;
  grid-template-areas: "n" "s" "m" "f";
}
.grid nav {
  grid-area: n;
  background-color: #000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: #FFF;
}
.grid nav .brand {
  display: flex;
  align-items: center;
}
.grid nav .brand img {
  height: 30px;
}
.grid nav .nav {
  display: flex;
  align-items: center;
}
.grid nav .nav .links {
  display: none;
}
.grid nav .nav .links a {
  font-family: "Orbitron", sans-serif;
  color: #d8d7d7;
}
.grid nav .nav .links a:hover {
  color: #FFF;
  cursor: pointer;
}
.grid nav .nav .links .active {
  color: #9f1700;
}
.grid nav .nav .links .active:hover {
  color: #9f1700;
}
.grid nav .nav .menu i {
  font-size: 1.5rem;
}
.grid section {
  grid-area: s;
  background-color: #222;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.grid section p {
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  color: #FFF;
}
.grid section select {
  text-align: center;
}
.grid main {
  grid-area: m;
  background-color: #222;
  padding: 1rem;
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  grid-template-rows: minmax(450px, 600px);
  grid-auto-rows: minmax(450px, 600px);
  gap: 2rem;
  background-image: url("../img/doom-eternal-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid main .card {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.5019607843);
}
.grid main .card > * {
  display: flex;
  justify-content: center;
}
.grid main .card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}
.grid main .card .card-body img {
  height: 100%;
}
.grid main .card .card-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding: 1rem;
}
.grid main .card .card-desc h5 {
  font-size: 1.5rem;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 1rem;
}
.grid main .card .card-desc p {
  margin-bottom: 1rem;
  font-weight: 300;
  text-align: center;
}
.grid main .card .card-desc .card-footer {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid main .card .card-desc .card-footer button {
  background-color: #FFF;
  border: none;
  color: #222;
  padding: 5px 40px;
  font-size: 1.3rem;
}
.grid main .card .card-desc .card-footer button:hover {
  cursor: pointer;
  background-color: #9f1700;
  color: #FFF;
}
.grid footer {
  grid-area: f;
  background-color: #141414;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d8d7d7;
}
.grid footer img {
  width: 150px;
}

@media (min-width: 576px) and (max-width: 992px) {
  .grid {
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "n n" "s m" "f f";
  }
  .grid nav .nav .links {
    display: flex;
    gap: 1rem;
  }
  .grid nav .nav .menu {
    display: none;
  }
  .grid main {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: 300px auto;
    grid-template-rows: 80px auto 100px;
    grid-template-areas: "n s" "n m" "f m";
  }
  .grid nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .grid nav .brand {
    margin-bottom: 1rem;
  }
  .grid nav .brand img {
    height: 80px;
  }
  .grid nav .nav .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .grid nav .nav .menu {
    display: none;
  }
  .grid main {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}