* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 100px auto 50px;
  grid-template-areas: "n" "s" "m" "f";
}
.grid nav {
  grid-area: n;
  background-color: #055;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.grid nav .brand {
  display: flex;
  align-items: center;
}
.grid nav .nav {
  display: flex;
  align-items: center;
}
.grid nav .nav .links {
  display: none;
}
.grid nav .nav .menu i {
  font-size: 1.5rem;
}
.grid section {
  grid-area: s;
  background-color: #099;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.grid section p {
  font-size: 1.2rem;
}
.grid section select {
  width: 100%;
  height: 2rem;
}
.grid main {
  grid-area: m;
  background-color: #bbb;
  padding: 1rem;
  display: grid;
  grid-template-rows: minmax(250px, 400px);
  grid-auto-rows: minmax(250px, 400px);
  gap: 1rem;
}
.grid main .card {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: gray;
}
.grid main .card > * {
  display: flex;
  justify-content: center;
}
.grid main .card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}
.grid main .card .card-body img {
  width: 220px;
  filter: saturate(0.2);
}
.grid main .card .card-body img:hover {
  transform: scale(1.1);
  filter: saturate(1);
  cursor: pointer;
}
.grid main .card .card-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
  padding: 10px;
}
.grid main .card .card-desc h5 {
  font-size: 1.5rem;
}
.grid main .card .card-desc p {
  margin-bottom: 10px;
  font-weight: 300;
  text-align: center;
}
.grid main .card .card-desc .card-footer {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid main .card .card-desc .card-footer .precio {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}
.grid main .card .card-desc .card-footer button {
  background-color: blue;
  border: none;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 5px;
}
.grid main .card .card-desc .card-footer button:hover {
  cursor: pointer;
  background-color: red;
}
.grid footer {
  grid-area: f;
  background-color: #033;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

@media (min-width: 576px) and (max-width: 992px) {
  .grid {
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: "n n" "s m" "f f";
  }
  .grid nav .nav .links {
    display: flex;
    gap: 1rem;
  }
  .grid nav .nav .menu {
    display: none;
  }
  .grid main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: 300px auto;
    grid-template-rows: 80px auto 100px;
    grid-template-areas: "n s" "n m" "f m";
  }
  .grid nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .grid nav .nav .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .grid nav .nav .menu {
    display: none;
  }
  .grid main {
    grid-template-columns: repeat(3, 1fr);
  }
}