  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap');

//Colores
$black: #000;
$dark: #222;
$grey-normal: #8a8a8a;
$grey-light: #d8d7d7;
$secondary: #FC0B0A;

//Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;

//Generales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

@mixin gridArea($area, $bg) {
  grid-area: $area;
  background-color: $bg;
  padding: 1rem;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Estilos

//Base (Mobile)
.grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 100px auto 50px;
  grid-template-areas: 
  'n'
  's'
  'm'
  'f';

  nav {
    @include gridArea(n, $black);
    display: flex;
    justify-content: space-between;
    color: #FFF;
    .brand {
      display: flex;
      align-items: center;
      img {
        height: 30px;
      }
    }
    .nav {
      display: flex;
      align-items: center;
      .links {
        display: none;
        a {
          font-family: 'Orbitron', sans-serif;
          color: $grey-light;
          &:hover {
            color: #FFF;
            cursor: pointer;
          }
        }
        .active {
          color: $secondary;
          &:hover {
            color: $secondary;
          }
        }
      }
      .menu {
        i {
          font-size: 1.5rem;
        }
      }
    }
  }

  section {
    @include gridArea(s, $dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    p {
      font-family: 'Orbitron', sans-serif;
      font-size: 1.2rem;
      color: #FFF;    }
    select {
      text-align: center;
    }
  }

  main {
    @include gridArea(m, #222);
    display: grid;
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: minmax(450px,600px);
    grid-auto-rows: minmax(450px, 600px);
    gap: 2rem;

    background-image: url('../img/lava-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .card {
      display: flex;
      flex-direction: column;;
      color: white;
      background-color: #00000070;
      &> * { 
        display: flex;
        justify-content: center;
      }
      .card-body {
        @include flexCenter();
        overflow: hidden;
        height: 100%;
        img {
          height: 100%;
        }
      }
      .card-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #00000090;
        padding: 1rem;
        h5 {
          font-size: 1.5rem;
          font-family: 'Orbitron', sans-serif;
          margin-bottom: 1rem;
        }
        p {
          color: $grey-light;
          margin-bottom: 1rem;
          font-weight: 300;
          text-align: center;
        }
        .card-footer {
          width: 100%;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            background-color: #FFF;
            border: none;
            color: $dark;
            padding: 5px 40px;
            font-size: 1.3rem;
            &:hover {
              cursor: pointer;
              background-color: $secondary;
              color: #FFF;
            }
          }
        }
      }
    }
  }

  footer {
    @include gridArea(f, #141414);
    @include flexCenter();
    color: $grey-light;
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 1rem;
      img {
        width: 150px;
      }
      .social {
        display: flex;
        gap: 1rem;
        a {
          font-size: 1.3rem;
          color: $grey-light;
          text-decoration: none;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}

//Tablet
@media (min-width: $small) and (max-width: $large){
  .grid {
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
  'n n'
  's m'
  'f f';

    nav {
      .nav {
        .links {
          display: flex;
          gap: 1rem;
        }
        .menu {
          display: none;
        }
      }
    }

    main {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
}

//Desktop
@media (min-width: $large) {
  .grid {
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto 100px;
  grid-template-areas: 
  'n s'
  'n m'
  'f m';

    nav {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .brand {
        margin-bottom: 1rem;
        img {
          height: 80px;
        }
      }
      .nav {
        .links {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }
        .menu {
          display: none;
        }
      }
    }

    main {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    footer {
      .footer-content {
        flex-direction: column;
      }
    }
  }
}