//Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;

//Generales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin gridArea($area, $bg) {
  grid-area: $area;
  background-color: $bg;
  padding: 1rem;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

//Estilos

//Base (Mobile)
.grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 100px auto 50px;
  grid-template-areas: 
  'n'
  's'
  'm'
  'f';

  nav {
    @include gridArea(n, #055);
    display: flex;
    justify-content: space-between;
    .brand {
      display: flex;
      align-items: center;
    }
    .nav {
      display: flex;
      align-items: center;
      .links {
        display: none;
      }
      .menu {
        i {
          font-size: 1.5rem;
        }
      }
    }
  }

  section {
    @include gridArea(s, #099);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    p {
      font-size: 1.2rem;
    }
    select {
      width: 100%;
      height: 2rem;
    }
  }

  main {
    @include gridArea(m, #bbb);
    display: grid;
    grid-template-rows: minmax(250px, 400px);
    grid-auto-rows: minmax(250px, 400px);
    gap: 1rem;

    .card {
      display: flex;
      flex-direction: column;;
      color: white;
      background-color: gray;
      &> * { 
        display: flex;
        justify-content: center;
      }
      .card-body {
        @include flexCenter();
        overflow: hidden;
        height: 100%;
        img {
          width: 220px;
          filter: saturate(0.2);
          &:hover{
            transform: scale(1.1);
            filter: saturate(1);
            cursor: pointer;
          }
        }
      }
      .card-desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: green;
        padding: 10px;
        h5 {
          font-size: 1.5rem;
        }
        p {
          margin-bottom: 10px;
          font-weight: 300;
          text-align: center;
        }
        .card-footer {
          width: 100%;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .precio{
            display: flex;
            align-items: center;
            gap:5px;
            font-size: 1.2rem;
          }
          button {
            background-color: blue;
            border: none;
            color: #FFF;
            padding: 5px 10px;
            border-radius: 5px;
            &:hover {
              cursor: pointer;
              background-color: red;
            }
          }
        }
      }
    }
  }

  footer {
    @include gridArea(f, #033);
    @include flexCenter;
    color: #FFF;
  }
}

//Tablet
@media (min-width: $small) and (max-width: $large){
  .grid {
  grid-template-columns: 200px auto;
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
  'n n'
  's m'
  'f f';

    nav {
      .nav {
        .links {
          display: flex;
          gap: 1rem;
        }
        .menu {
          display: none;
        }
      }
    }

    main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

//Desktop
@media (min-width: $large) {
  .grid {
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto 100px;
  grid-template-areas: 
  'n s'
  'n m'
  'f m';

    nav {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .nav {
        .links {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }
        .menu {
          display: none;
        }
      }
    }

    main {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}